<!--INHERITING FROM MAIN-->
<!--https://docs.djangoproject.com/en/3.1/howto/overriding-templates/#extending-an-overridden-template-->
{% extends 'accounts/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Customer: </h5>
            <hr>
            <a href="" class="btn btn-outline-info btn-sm btn-block">Update customer</a>
            <a href="" class="btn btn-outline-danger btn-sm btn-block">Delete customer</a>
        </div>
    </div>
    <div class="col-md">
        <div class="card card-body">
            <h5>Contact info</h5>
            <hr>
            <p>Email: </p>
            <p>Phone: </p>
        </div>
    </div>
    <div class="card-md">
        <div class="card card-body">
            <h5>Total orders</h5>
            <hr>
            <h1 style="text-align:center; padding:10px"></h1>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="card card-body">
            <form action="" class="form" method="get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <td>Product</td>
                    <td>Category</td>
                    <td>Date Ordered</td>
                    <td>Status</td>
                    <td>Update</td>
                    <td>Remove</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}