{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p class="alert alert-danger">Are you sure you want to delete "{{item}}" ? </p>
            <form action="{% url 'delete_order' item.id %}" class="form" method="POST">
                {% csrf_token %}
                <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>


{% endblock %}